<div class="card">
  <div class="card-body">

    <table class="table">
      
   
      <thead>
        <tr>
          <th>Todo Item</th>
          <th>Description</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

   
      <tbody>
        <tr *ngFor="let todo of getTodos">

          <td>
            <strong>
              {{ todo.title }}
            </strong>
          </td>

          <td>
            {{ todo.description }}
          </td>

          <td>
            {{ todo.iscompleted }}
          </td>

          <td>
            <button
              (click)="onEditTodo(todo)"
              mat-mini-fab
              color="primary"
              class="me-2"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              (click)="onRemove(todo)"
              mat-mini-fab
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>